extends layout

block content
  body
    h1 Timetables

    h2 Timetable 1
    p Description: Timetable for Week 1
    p Class: Math Class
    p Number of Days: 5
    a(href="timetable1.html") View Timetable

    h2 Timetable 2
    p Description: Timetable for Week 2
    p Class: Science Class
    p Number of Days: 4
    a(href="timetable2.html") View Timetable

    h2 Timetable 3
    p Description: Timetable for Week 3
    p Class: History Class
    p Number of Days: 3
    a(href="timetable3.html") View Timetable

