extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1 Smart Time Table
  .row
    .col-md-6.col-sm-12
      p
        | Smart Time Table was created to help people manage their schedules efficiently.
        | <br /><br />
        | Smart Time Table helps you plan your days, weeks, and months effectively.
        | <br /><br />
        | It's your one-stop solution for organizing your time efficiently.
        | <br /><br />
        | Smart Time Table helps you make the most of your time. Let it help you create a well-structured timetable.
